@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;

}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: "ConcertOne";
  src: local("ConcertOne"), url("../public/fonts/ConcertOne.ttf") format("truetype");
  font-display: swap;
}
body::-webkit-scrollbar{
  width: 7px;
}
body::-webkit-scrollbar-track{
  background-color: rgb(255 255 255);
}
body::-webkit-scrollbar-thumb{
  background: rgb(91,33,182);
  background: linear-gradient(45deg, rgb(124 58 237) 0%, rgb(56 189 248) 100%);
  border-radius: 12px;
}


