@font-face {
    font-family: "PalanquinDark";
    src: local("PalanquinDark"), url("../public/fonts/PalanquinDark.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "OleoScript";
    src: local("OleoScript"), url("../public/fonts/OleoScript.ttf") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("../public/fonts/Poppins.ttf") format("truetype");
    font-display: swap;
  }
  .container{

  }
  .landingPageHeading{
      font-family: "Poppins";
  }
  .logo1 {
    font-family: "PalanquinDark";
  }
  .tapHighlight{
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
.scrollBar::-webkit-scrollbar{
  width: 7px;
}
.scrollBar::-webkit-scrollbar-track{
  background-color: rgb(255 255 255);
}
.scrollBar::-webkit-scrollbar-thumb{
  background: rgb(91,33,182);
  background: linear-gradient(45deg, rgb(124 58 237) 0%, rgb(56 189 248) 100%);
  border-radius: 12px;
}